#hero{
    position: relative;
}
#hero::after{
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    content: '|';
    font-weight: normal;
    position: absolute;
    right: 0;
    color: rgb(212, 212, 132);
    background-color: rgb(53, 255, 255);
    width: 100%;
    animation: typing 1.2s steps(9) 1s  normal both,
                line 1s steps(9) infinite;
}
@keyframes typing{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}