@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
    background: linear-gradient(180deg, #0e005c 21.58%, #02aadd, #06B3ED, #0A96CF, #043a57);
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}