@tailwind base;
@tailwind components;
@tailwind utilities;


/* //correctONe */
#root {
    /* background: linear-gradient(to bottom, #000000,#000000, #2403e0); */
    background:  #030016;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
 .gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background:linear-gradient(#060027, #0600276d,#060027);
    opacity: 1;
 }
 #bgImg{
    background: #060027;
 }

 @media screen and (max-width:460px){
    .navbar{
        position: absolute;
        top: -2px;
    }
 }
 